.nav-bar {
  width: 30vw;
  margin-top: 4vh;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.nav-bar .dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin: auto;
}

.dots .dot {
  width: 1em;
  height: 1em;
  border: 3px double rgb(155, 155, 224);
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 4px;
  margin: 2px;
}

.nav-bar .current-page {
  margin: 15px auto 15px auto;
  width: max-content;
  border: 1px solid rgb(221, 221, 240);
  border-radius: 15px;
  padding: 5px;
  letter-spacing: 1.5px;
  color: rgb(175, 175, 235);
}

.current-page:hover {
  border: 1px solid blue;
  cursor: pointer;
}

.dot .MuiSvgIcon-root {
  width: 100%;
  height: auto;
  fill: white;
}
