.nav-bar {
  width: 30vw;
  margin-top: 4vh;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.nav-bar .dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dots .dot {
  width: 1vw;
  height: 1vw;
  border: 3px double rgb(155, 155, 224);
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.nav-bar .current-page {
  margin: 15px auto 15px auto;
  width: max-content;
  border: 1px solid rgb(221, 221, 240);
  border-radius: 15px;
  padding: 5px;
  letter-spacing: 1.5px;
  color: rgb(175, 175, 235);
}

.dot .MuiSvgIcon-root,
.on-page .MuiSvgIcon-root {
  width: 100%;
  height: auto;
  fill: white;
}

.on-page {
  border: 3px double rgb(181, 214, 33);
}
