.passions {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 3vw;
}

.passions-group {
  max-width: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5px;
  border: 0.1px dotted rgb(202, 202, 216);
  grid-gap: 10px;
  margin: auto;
  border-radius: 4px;
}

.card {
  width: 90%;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-rows: 15px auto 15px auto 10px auto;
  grid-gap: 5px;
  background-color: rgb(191, 193, 216);
  padding: 1vw;
  max-width: 90%;
  border-radius: 15px 15px 15px 0px;
  border: 3px solid rgb(73, 30, 131);
  margin: 5px;
  justify-self: center;
  align-self: center;
  height: max-content;
  box-shadow: 0 1px 20px 1px black;
}

.card:hover {
  transform: scale(1.01);
  border: 3px solid rgb(102, 57, 161);
}
.card .logo {
  grid-area: 2/2/3/3;
  border: 2px solid rgb(54, 54, 202);
  border-bottom: 4px double blue;
  border-radius: 15px 15px 15px 0px;
  width: 60%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.logo .center-logo {
  width: 100px;
  height: auto;
  border-radius: 15px 15px 15px 0px;
  border-bottom: 4px double blue;
}

.card .passion {
  width: max-content;
  grid-area: 4/2/5/3;
  color: rgb(210, 210, 231);
  background-color: #242582;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0.2px 1px 8px 2px #afa4da;
  display: flex;
}

.card .text {
  width: 90%;
  grid-area: 6/2/7/3;
  max-width: 100%;
  border-radius: 10px 0 10px 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 5px double rgb(255, 255, 255);
  padding: 2px;
  color: #242582;
  font-weight: 600;
  padding: 5px;
}

.group-title {
  width: max-content;
  margin: auto;
  color: rgb(216, 215, 238);
}
