.app {
  display: grid;
  grid-template-rows: auto 1fr max-content;
  width: 100vw;
  font-family: Poppins, sans-serif;
  background-color: #181818;
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}
